*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #161a2a;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.cell {
    width: 75px;
    height: 75px;
    font-size: 36px;
    border: 2px solid grey;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-top: 1rem;
}

.flex {
    display: flex;
    justify-self: center;
    column-gap: 2rem;
    margin-top: 1rem;
}
span {
    font-size: 18px;
    font-weight: 700;
}
#play-again {
    font-size: 14px;
    font-weight: 500;
    display: none;
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

#reset {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    padding: 5px;
}